## Initial Data Check

Purpose: Understanding what's in our credit card dataset before we clean it.

What we'll do:

1. Load the data
2. Check how many records we have
3. Look for missing information
4. Count unique customers
5. See what needs fixing for Tableau

### 1. Intial Setup

In [5]:
# importing libraires
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os

print("Libraries imported successfully.")

Libraries imported successfully.

## 2. Loading the Data

Loading the credit card dataset from the raw data folder.

In [15]:
# looding the data from data / raw folder
df = pd.read_csv('../data/raw/clients_card_data.csv')

print("Data loaded.")

Data loaded.

## 3. Data Overview

Getting a initial look at what's in our dataset.

In [16]:
# Shows the first 10 rows
print("First 10 rows of data:")
df.head()

First 10 rows of data:

,id,client_id,card_brand,card_type,card_number,expires,cvv,has_chip,num_cards_issued,credit_limit,...,birth_month,gender,address,latitude,longitude,per_capita_income,yearly_income,total_debt,credit_score,num_credit_cards
0,4524.0,825.0,Visa,Debit,4.344677e+15,12/2022,623.0,YES,2.0,$24295,...,11.0,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787.0,5.0
1,2731.0,825.0,Visa,Debit,4.956966e+15,12/2020,393.0,YES,2.0,$21968,...,11.0,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787.0,5.0
2,3701.0,825.0,Visa,Debit,4.582313e+15,02/2024,719.0,YES,2.0,$46414,...,11.0,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787.0,5.0
3,42.0,825.0,Visa,Credit,4.879494e+15,08/2024,693.0,NO,1.0,$12400,...,11.0,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787.0,5.0
4,4659.0,825.0,Mastercard,Debit (Prepaid),5.722875e+15,03/2009,75.0,YES,1.0,$28,...,11.0,Female,462 Rose Lane,34.15,-117.76,$29278,$59696,$127613,787.0,5.0